<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        setTimeout(()=>{
            socket.emit('msg',{player:'one'})
        },6000)
        socket.on('servermsg',(data)=>{
            console.log(data)
        })
    </script>
</head>
<body>
    <% for (let product of products) { %> 
        <% if (product) { %> 
            <div id="<%= product._id %>">
                <h1>Product Detail</h1>
                <img src = "<%= product.thumbnail%> "/>
                <h2><%= product.title %> </h2>
                <h3><%= product.brand %> </h3>
                <h3><span>$</span>
                    <%= product.rating %>
                </h3>
                <button onclick="deleteProduct('<%= product._id %>')">Delete</button>
            </div>
        <% } %> 
    <% } %> 

    <script>
        async function deleteProduct(product){
            console.log(product);
            const response = await fetch('/products/'+product,{
                method: 'DELETE'
            })
            const doc = await response.json();
            const el = document.getElementById(doc._id);
            el.remove();
        }
    </script>
    
</body>
</html>